@media screen and (min-width: 1500px) {
  .add,
  .shuffle {
    width: 4vw;
    padding: 1vw;
  }

  .title {
    font-size: 4vw;
  }

  .card {
    width: 23vw;
    height: 14vw;
    margin: 15px 0;
  }

  .edit,
  .tick,
  .cross {
    --margin: 0.5vw;
    --width: 2vw;
  }

  .content {
    font-size: 4vw;
  }
}
