@media screen and (min-width: 800px) {
  .add,
  .shuffle {
    width: 6vw;
    padding: 2vw;
  }

  .title {
    font-size: 5vw;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    width: 45vw;
    height: 25vw;
    margin: 20px 0;
  }

  .edit,
  .tick,
  .cross {
    --margin: 1vw;
    --width: 5vw;
  }

  .content {
    font-size: 7vw;
  }
}
